doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title registration
    body 
        
    body 
        
        table
            form(action="/formedit", method="post")
                tr  
                    td 
                        label(for="fullname" ) fullname
                        input(type="text" name='name')#fullname
                tr 
                    td 
                        label(for="phonenumber") phonenumber
                        input(type="tel" name='Phonenumber' )#phonenumber
                tr
                    td
                        label(for="email") email
                        input(type="email" name='email-id' )#email
                tr    
                    td  
                        label(for="password") password
                        input(type="password" name='confirm password' )#password
                tr  
                    td
                        label(for="address") address
                        input(type="text" name='Fulladdress' )#address
                tr 
                    td
                        input(type="submit" name='Submit')
                

                    
                    



